:global{
    .ant-tabs-bar{
        padding: 0;
        height: 30px;
    }
    .ant-tabs-tab{
        border-bottom:none;
    }
    .ant-form-item{
        margin: 5px 0px; 
    }
    .ant-tabs-tabpane-active{
        color:#0A40FD;
    }
}
.user_wrap{
    width: 100%;
    height: 100%;
    padding:20px;
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        .user_box{
            width: 33.3%;
            height: 50%;
            border:1px solid #ccc;
            padding:10px;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            >button{
                min-width:80px;
                max-width:160px;
                padding: 0px 3px;
                height: 30px;
                background: #fff;
                border:1px solid #0A40FD;
                color:#0A40FD;
                border-radius: 0;
            }
            .btn_box{
                height: 33px;
                display: flex;
                align-items: center;
                width:200px;
                justify-content: space-between;
                .sub_btn{
                    width: 100px;
                    background: #0A40FD;
                    color:#fff;
                }
            }
        }
    }
    
}
.ant-tabs-bar{
    padding: 0;
    height: 30px;
}